#ds-reset span, #ds-reset strong, #ds-reset label, #ds-reset input{color:#aaa;}
#ds-thread #ds-reset .ds-powered-by {display: none;}
#ds-thread #ds-reset .ds-comment-body p{color:#AAA;}
#ds-thread #ds-reset a.ds-like-thread-button{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background:none;text-shadow: none;border-color: #CCCCCC #CCCCCC #AAAAAA;border-style: solid;border-width: 1px;margin-right: 15px;padding: 4px 8px;}
#ds-thread #ds-reset a.ds-like-thread-button span{color:#aaa}
#ds-thread #ds-reset a.ds-thread-liked{background:none;}
#ds-thread #ds-reset .ds-login-buttons p{color:#aaa}
#ds-thread #ds-reset .ds-comments-info{display: none;}
#ds-thread #ds-reset .ds-toolbar{display: none;}
#ds-thread #ds-reset .ds-replybox{display: none;}
#ds-thread #ds-reset .ds-comments{border-bottom: 1px solid rgba(0, 0, 0, 0.13);width: 100%;}
#ds-wrapper #ds-reset .ds-dialog-footer span{display:none;}
#ds-wrapper #ds-reset .ds-logo{visibility: hidden;}
/*#ds-thread #ds-reset li.ds-post-placeholder{font-size: 17px;}*/
/*#ds-thread #ds-reset .ds-login-buttons p{font-size: 17px;}*/
/*#ds-thread #ds-reset ul, #ds-thread #ds-reset ul li{font-size: 17px;}*/
/*#ds-thread #ds-reset .ds-login-buttons .ds-social-links{width:700px;}*/
/*#ds-thread #ds-reset .ds-login-buttons .ds-service-list li{width:60px;}*/
/*#ds-thread #ds-reset .ds-user-name{font-size: 17px;}*/