<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghongmeng.pssite.front.persistence.FrontMapper">

    <resultMap id="diary" type="Diary">
        <result column="person_id" property="personId" />
        <result column="entry_date" property="entryDate" />
    </resultMap>

    <resultMap id="album" type="album">
        <result column="person_id" property="personId" />
        <result column="album_name" property="albumName" />
        <result column="album_cover" property="albumCover" />
        <result column="entry_date" property="entryDate" />
        <result column="order_num" property="orderNum" />
    </resultMap>

    <resultMap id="albumPhoto" type="albumPhoto">
        <result column="album_id" property="albumId" />
        <result column="pic_path" property="picPath" />
        <result column="entry_date" property="entryDate" />
    </resultMap>

    <select id="queryPerson" resultType="Person">
        <![CDATA[
            select id,name,nick,pic,comments from t_person order by order_num
        ]]>
    </select>

    <select id="queryPhoto" resultType="IndexPhoto">
        <![CDATA[
            select id,pic from t_index_photo order by order_num
        ]]>
    </select>

    <select id="queryDiary" resultMap="diary">
        <![CDATA[
            select d.id,d.person_id,d.content,d.pic,d.entry_date
            from t_person_diary d inner join t_person p
            on d.person_id = p.id
            where p.nick = #{nick}
            order by d.entry_date desc
        ]]>
    </select>

    <select id="queryAlbum" resultMap="album">
        <![CDATA[
            select d.id,d.person_id,d.album_name,d.album_cover,d.entry_date
            from t_album d inner join t_person p
            on d.person_id = p.id
            where p.nick = #{nick}
            order by d.entry_date,d.order_num desc
        ]]>
    </select>

    <select id="queryAlbumPhoto" resultMap="albumPhoto">
        <![CDATA[
            select album_id,pic_path,comments,entry_date
            from t_album_photo
            where album_id = #{albumId}
        ]]>
    </select>

</mapper>